.pos{
    position:fixed;
    z-index: 1;
    top:0;
}
.modal{
    position : fixed;
    top:0;
    right:0;
    overflow: hidden;
    cursor:pointer;
    width:18em;
    display: flex;
    flex-direction: column;
    z-index: index 1;
}